<h1>Criar produtos</h1>
<form action="/products/create" method="POST">
  <div class="form-control">
    <label for="name">Nome do produto</label>
    <input
      type="text"
      id="name"
      name="name"
      placeholder="Digite o nome do produto"
    />
  </div>

  <div class="form-control">
    <label for="price">Preço do produto</label>
    <input
      type="text"
      id="price"
      name="price"
      placeholder="Digite o preço do produto"
    />
  </div>

  <div class="form-control">
    <label for="price">Imagem do produto</label>
    <input
      type="text"
      id="image"
      name="image"
      placeholder="Insira a URL da imagem"
    />
  </div>

  <div class="form-control">
    <label for="description">Descrição do produto</label>
    <textarea
      name="description"
      id="description"
      cols="30"
      rows="10"
      placeholder="Digite os detalhes do produto"
    ></textarea>
  </div>
  <input type="submit" value="Cadastrar" class="btn">
</form>