* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  background-color: rgb(19, 20, 19);
  color: aliceblue;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
  transition: 1s;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

a:hover {
  color: rgb(40, 160, 220);
}

h1, h2 {
  font-size: 2rem;
  text-align: center;
  margin: 2rem 0;
  text-transform: uppercase;
}

#nav-bar {
  background-color: #090908;
  padding: 2rem 5rem;
  border-bottom: 1px solid rgba(88, 146, 173, 0.62);
  margin-bottom: 5rem;
}

#nav-bar ul {
  display: flex;
  list-style: none;
  gap: 1rem;
  text-transform: uppercase;
  font-weight: 500;
  max-width: 90%;
  margin-left: 5%;
}

.form{
  width: 450px;
  margin: 0 auto;
  padding: 2rem;
  border: 1px solid rgba(240, 248, 255, 0.517);
  border-radius: 5px;
  box-shadow: 1px 2px 2px rgba(207, 209, 209, 0.123);
  background-color: #090908;
  height: 300px;
}

.form-control {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.form-control label {
  font-weight: 300;
  margin-bottom: 0.3em;
}

.form-control input {
  padding: 5px;
}

.form-checkbox {
  flex-direction: row;
  align-items: center;
}

.form-checkbox input {
  margin-right: 5px;
  margin-top: -5px;
}

.btn {
  padding: 10px;
  border: 0;
  transition: 0.5s;
  border-radius: 5px;
  font-weight: bold;
}

.btn:hover {
  background-color: rgb(88, 146, 173);
  cursor: pointer;
  color: aliceblue;
}

.container {
  display: flex;
  flex-wrap: wrap;
  max-width: 90%;
  margin: 0 auto;
  margin-left: 10%;
  gap: 1rem;
}

.container .item {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  border: 1px solid rgba(71, 73, 69, 0.62);
  border-radius: 5px;
  padding: 1.5rem;
  flex: 1 1 29%;
  max-width: 29%;
  gap: 1rem;
}

.actions {
  display: flex;
  justify-content: space-between;
  color: rgb(88, 146, 173);
}

.actions .btn-delete {
  border: 0;
  color: rgb(88, 146, 173);
  background: none;
  transition: 1s;
  font-size: 1rem;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.actions .btn-delete:hover {
  cursor: pointer;
  color: rgb(154, 48, 31);
}


.container-edit {
  display: flex;
  margin: 0 auto;
  width: 90%;
  justify-content: center;
  gap: 1rem;
  align-items: stretch;
}

