* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  background-color: rgb(19, 20, 19);
  color: aliceblue;
}

h1 {
  text-align: center;
  margin: 5rem;
  text-transform: uppercase;
}

.form, .books-container {
  width: 450px;
  margin: 0 auto;
  padding: 1rem;
  border: 1px solid rgba(240, 248, 255, 0.517);
  border-radius: 5px;
  box-shadow: 1px 2px 2px  rgba(207, 209, 209, 0.123);
}

.form-control {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.form-control label {
  font-weight: 300;
  margin-bottom: .3em;
  color: rgb(88, 146, 173);
}

.form-control input {
  padding: 5px;
}

.btn{
  padding: 10px;
  border: 0;
  transition: .5s;
  border-radius: 5px;
  font-weight: bold;
}

.btn:hover{
  background-color: rgb(88, 146, 173);
  cursor: pointer;
  color: aliceblue;
}

.book{
  margin: 1rem 0;
}

.bold{
  font-weight: bold;

}

.add {
  text-decoration: none;
  font-weight: 800;
  font-size: 3rem;
  color:  rgb(88, 146, 173);
  margin-left: 90%;
  transition: .8s;
}

.add:hover{
  color: aliceblue;
}